In [11]:
import pandas as pd
from bs4 import BeautifulSoup
import os

In [2]:
# Import the Rotten Tomatoes bestofrt TSV file into a DataFrame
df = pd.read_csv('bestofrt.tsv', sep='\t')

In [3]:
df.head()

   ranking  critic_score                      title  number_of_critic_ratings
0        1            99    The Wizard of Oz (1939)                       110
1        2           100        Citizen Kane (1941)                        75
2        3           100       The Third Man (1949)                        77
3        4            99             Get Out (2017)                       282
4        5            97  Mad Max: Fury Road (2015)                       370

In [51]:
# List of dictionaries to build file by file and later convert to a DataFrame
df_list = []
folder = 'rt_html'
for movie_html in os.listdir(folder):
    with open(os.path.join(folder, movie_html)) as file:
        soup = BeautifulSoup(file, 'lxml')
        # find title
        title = soup.find('title').contents[0][:-len(' - Rotten Tomatoes')]
        # extract audience score
        audience_score = soup.find(class_="audience-score meter").span.contents[0][:-1]
        # extract number of audience ratings
        num_audience_ratings = soup.find(class_="audience-info hidden-xs superPageFontColor")
        num_audience_ratings = num_audience_ratings.find_all('div')[1].contents[2].strip().replace(",", "")  
        # Append to list of dictionaries
        df_list.append({'title': title,
                        'audience_score': int(audience_score),
                        'number_of_audience_ratings': int(num_audience_ratings)})
df = pd.DataFrame(df_list, columns = ['title', 'audience_score', 'number_of_audience_ratings'])

In [54]:
df.head(10)

,title,audience_score,number_of_audience_ratings
0,12 Angry Men (Twelve Angry Men) (1957),97,103672
1,The 39 Steps (1935),86,23647
2,The Adventures of Robin Hood (1938),89,33584
3,All About Eve (1950),94,44564
4,All Quiet on the Western Front (1930),89,17768
5,Casablanca (1942),95,355952
6,Frankenstein (1931),87,41140
7,King Kong (1933),86,89669
8,Laura (1944),91,10481
9,M (1931),95,35778